.comecar-bg {
  background-image: url("../imagens/comecar/bg_comecar_foto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comecar-conteudo h3 {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.comecar-conteudo h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--cor-w3);
  position: absolute;
  margin-top: 4px;
  border-radius: 20px;
}

.comecar-conteudo h1 {
  text-align: center;
  margin-bottom: 24px;
}

.comecar-conteudo p {
  text-align: center;
  margin-bottom: 40px;
}

.ficha-bg {
  background: var(--cor-black1);
  position: relative;
}

.conteudo-ficha {
  max-width: 1400px;
  padding-bottom: 40px;
  padding-top: 80px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.conteudo-ficha h3 {
  position: relative;
  display: flex;
  align-items: center;
}

.conteudo-ficha h3::before {
  content: url("../imagens/comecar/icon_dragon_ficha.svg");
  display: block;
}

.formulario-dados::before {
  content: "";
  display: inline-block;
  background: var(--cor-w9);
  height: 4px;
  width: 100%;
}

.formulario-dados::after {
  content: "";
  display: inline-block;
  background: var(--cor-w9);
  height: 4px;
  width: 100%;
}

.formulario {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.col-1 {
  grid-column: span 1;
}

.formulario label {
  display: block;
  margin-bottom: 8px;
  max-width: max-content;
}

.formulario select {
  cursor: pointer;
}

.formulario input[type="text"],
.formulario select {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-w3);
  outline: none;
  margin-bottom: 40px;
  padding: 8px;
  border-radius: 0px 20px 20px 0px;
  width: 100%;
  box-sizing: border-box;
}

.formulario input[type="text"]:focus,
.formulario select:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-brancototal);
  box-shadow: 0 0 0 1px #fe3238;
}

@media (max-width: 900px) {
  .formulario {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
