.ferramentasutilizadas-bg {
  background: linear-gradient(to right, #06070c, #06070c, #101320);
}

.ferramentasutilizadas-conteudo {
  max-width: 1600px;
}

.subtitulo {
  text-align: center;
  margin-bottom: 12px;
  position: relative;
}

.subtitulo::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 4px;
  background: var(--cor-w3);
  position: absolute;
  border-radius: 20px;
}

.ferramentasutilizadas-conteudo h1 {
  text-align: center;
  margin-bottom: 80px;
}

.ferramentas-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  gap: 120px 60px;
}

.item {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ferramentas-lista h3 {
  margin-bottom: 12px;
  color: var(--cor-p1);
}

.ferramentas-lista p {
  margin-bottom: 12px;
}

.ferramentas-lista a {
  position: relative;
  max-width: max-content;
}

.ferramentas-lista a::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--cor-brancototal);
  position: absolute;
  border-radius: 20px;
}

.ferramentas-lista a:hover {
  color: var(--cor-p1);
  transition: 0.3s;
}

.ferramentas-lista a:hover:after {
  background: var(--cor-p1);
  transition: 0.3s;
}

@media (max-width: 400px) {
  .ferramentasutilizadas-conteudo h1 {
    margin-bottom: 24px;
  }
}
