.introducao-bg {
  background-image: url("../imagens/introducao/bg_introducao_foto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.introducao-conteudo h3 {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.introducao-conteudo h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--cor-w3);
  position: absolute;
  margin-top: 4px;
  border-radius: 20px;
}

.introducao-conteudo h1 {
  text-align: center;
  margin-bottom: 24px;
}

.introducao-conteudo p {
  text-align: center;
  margin-bottom: 40px;
}

.botao-explorar a {
  background: linear-gradient(#495057, #6c757d);
  box-shadow: 0px 5px 10px rgba(222, 226, 230, 0.25);
  border-radius: 20px;
  padding: 12px 20px;
  display: inline-block;
}

.botao-explorar a:hover {
  background: linear-gradient(#454e57, #616d77);
}

.introducao-opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.iniciar-agora {
  justify-content: center;
  justify-items: center;
}

.introducao-redes {
  display: flex;
  gap: 0px 12px;
  padding-top: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.introducao-redes::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 4px;
  background: var(--cor-w3);
  border-radius: 20px;
}

.introducao-redes::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 4px;
  background: var(--cor-w3);
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .introducao-conteudo p {
    max-width: 70ch;
  }
  .botao-explorar a {
    padding: 10px 16px;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo h1 {
    margin-bottom: 16px;
  }
  .introducao-conteudo p {
    margin-bottom: 20px;
    max-width: 60ch;
  }
  .botao-explorar a {
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .introducao-conteudo p {
    max-width: 40ch;
  }
  .introducao-opcoes {
    gap: 24px;
  }
}

@media (max-width: 300px) {
  .introducao-conteudo p {
    max-width: 35ch;
  }
  .introducao-redes::before,
  .introducao-redes::after {
    display: none;
  }
}
