.sobrenos-bg {
  background-color: var(--cor-black2);
}

.sobrenos-conteudo h3 {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.sobrenos-conteudo h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--cor-w3);
  position: absolute;
  margin-top: 4px;
  border-radius: 20px;
}

.sobrenos-conteudo h1 {
  text-align: center;
  margin-bottom: 24px;
}

.sobrenos-conteudo p {
  text-align: center;
  margin-bottom: 40px;
}

.sobrenos-imagens {
  display: flex;
  gap: 40px;
}

.sobrenos-imagens img {
  border-radius: 20px;
}

@media (max-width: 800px) {
  .sobrenos-imagens {
    flex-wrap: wrap;
    gap: 4px;
  }
}

/* @media (max-width: 800px) {
  .sobrenos-imagens img {
    display: none;
  }
  .sobrenos-bg {
    background-image: url("../imagens/sobrenos/sobre_nos_bg_menor_que_800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
} */
