.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.botao a{
  display: inline-block;
  border: 3px solid var(--cor-p1);
  border-radius: 20px;
  padding: 12px 20px;
  color: var(--cor-brancototal);
}

.botao a:hover {
  background: var(--cor-p1);
  border-color: var(--cor-p1);
  color: var(--cor-brancototal);
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .botao a {
    padding: 8px 16px;
  }
}

@media (max-width: 350px) {
  .botao a {
    padding: 4px 16px;
  }
}
